.EndBox{
    background-color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;

}

.EndBox__button{
    box-sizing: border-box;

    background-color: var(--background-color);
    color: var(--text-color);

    border: none;
    margin-inline: 15px;
    white-space: nowrap;
    font-size: var(5px,2vw,45px);
    padding: 7px 35px 7px 35px;

    border-radius: 25px;

    user-select: none;
    border: 2px solid rgba(207, 52, 212, 0);
    transition: 0.3s;
}

.EndBox__button:hover{
    background-color: rgb(71, 71, 71);
    color: var(--primary-color);

    border: 2px solid var(--primary-color);
}